

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
    <%= link_to "Remove",review_path(review), method: :delete %>
    </li>
    <% end %>
</ul>
